{% extends 'cp_nigeria/base_cpn.html' %}
{% load static %}
{% load i18n %}

{% block index %}
  <main>
    <section class="hero section" id="hero" data-aos="fade-up">
      <div>
        <div class="hero__text">
          <h1>
            {% translate "Model your local energy demand" %}
          </h1>
          <span>
                    {% translate "Use the GUI to model and optimize your local energy demand based on community characteristics and needs" %}
                  </span>
          <a href="{% url 'cpn_scenario_create' 1 %}" class="btn btn--medium">
            {% translate "Let's start" %}
          </a>
        </div>
        <div class="hero__image">
          <img src="{% static 'assets/illustrations/energy_system_gui.svg' %}" alt="Energy system GUI">
        </div>
      </div>
    </section>
  </main>
{% endblock index %}