{% extends 'cp_nigeria/base_cpn.html' %}
{% load static %}
{% load i18n %}

{% block index %}
  <main class="background-overlay">
    <section class="hero section" id="hero" data-aos="fade-up">
      <div>
        <div class="hero__text">
          <h1>
            {% translate "Get started on your mini-grid project" %}
          </h1>
          <span>
                    Use this tool to take the first steps toward electricity access for your community. Model your
            electricity demand, size a suitable mini-grid, conduct financial analyses and more.
            The tool will provide you with a comprehensive document to approach stakeholders.
               </span>
          <a href="{% url 'cpn_new_scenario' %}" class="btn btn--hero">
            {% translate "Try it" %}
          </a>
        </div>
        <!--div class="hero__image">
          <img src="{% static 'assets/illustrations/energy_system_gui.svg' %}" alt="Energy system GUI">
        </div-->
      </div>
    </section>
  </main>
{% endblock index %}
