<main>
    <div>
        <h4>Business model selection</h4>
<!--        TODO add a bit about methodology once Aakash writes something up -->
        <p>
            <span class="helpvar">Business model options:</span> For the development of the business model selection of this toolbox, a significant
            amount of research was conducted regarding viable mini-grid business models in Nigeria. In the end, two options were
            identified as suitable business models: operator-led and community-led model. Their respective characteristics, advantages and disadvantages are
            displayed upon selection. Considering that toolbox users might not know which business model is most suitable for their
            use case, a questionnaire to aid in decision-making can be filled out.
        </p>
        <p>
            <span class="helpvar">Questionnaire:</span> To assess the readiness of communities to be able to adopt a
            community-led model in their energy planning, the toolkit features a comprehensive questionnaire that
            evaluates the community based on a defined set of criteria derived from a literature review on community-centric
            decentralised renewable energy systems in the global south. <br>
            Based on the provided answers to the questionnaire, the toolbox asses the communities suitability to pursue a community-led model.
            Should you wish to select a different business model than the one recommended, you can reset the options in the drop-down
            menu by clicking on <button class="btn btn-small">Reset the questionnaire</button>.
        </p>
    </div>
</main>
