<main>
    <div>
        <h4>Business model selection</h4>
<!--        TODO add a bit about methodology once Aakash writes something up -->
        <strong>Business model options</strong>: For the development of the business model selection of this toolbox, a significant
        amount of research was conducted regarding viable mini-grid business models in Nigeria. In the end, two options are
        available: operator-led and community-led model. Their respective characteristics, advantages and disadvantages are
        displayed upon selection. Considering that toolbox users might not know which business model is most suitable for their
        use case, a questionnaire to aid in decision-making can be filled out. <br>
        <strong>Questionnaire</strong>: The questionnaire is meant to indicate to the user if a community-led mini-grid could
        be a good choice. <br>
    </div>

</main>
