<main>
    <div>
<!--        TODO should we be getting rid of the pre-loaded communities? what's the situation with datenschutz? -->
        <h4>Project setup</h4>
        <strong>Pre-loaded communities</strong>: In the step to pre-select a community, one of the five pilot communities
        related to the project can be selected. Upon selection, the community will be automatically selected from the map
        and the communities' name filled into the <b>Name</b> field. Additionally, the communities' number of households,
        enterprises and public facilities will be pre-loaded to aggregate the demand in step 3. This step is not necessary and should
        be left blank if the project to be created is unrelated to one of the pilot communities. <br>
        <strong>Other communities</strong>:
        If the process should be conducted for a different community, the project site should be selected. To select a site, simply select the location on the map.
        The map can be zoomed in and out by scrolling and moved with drag-and-drop. Once a site is selected, the
        latitude and longitude will be automatically filled in. <br>
<!--            TODO should we get rid of simulation start?-->
        <strong>Currency exchange rate</strong>: The assumed exchange rate plays a role for the default costs used during the process of this toolbox.
            Since default cost assumptions made are based on typical costs in USD, the assumed costs for the systems
            might be outdated if the exchange rate fluctuates significantly. The current exchange rate is fetched once
            during the creation of the project, but won't update automatically after the project is created. As such,
            the user should make sure that the given exchange rate still constitutes a reasonable assumption when working on older projects. <br>

    </div>
</main>
