<main>
    <div>
        <!--        TODO should we be getting rid of the pre-loaded communities? what's the situation with datenschutz? -->
        <h4>Project setup</h4>
        <p>
            <span class="helpvar">Pre-select a community (optional):</span> In the step to pre-select a community, you may select one of the five pilot communities
            related to the project. Upon selection, the community will be automatically selected from the map
            and the communities' name filled into the <span class="helpvar">Name</span> field. Additionally, the communities' number of households,
            enterprises and public facilities will be pre-loaded to aggregate the demand in <a href="#section-demand_profile">step 3</a>.
            Pre-selecting a community is <b>not</b> necessary and should be left blank if the project to be created is unrelated to one of the pilot communities.
        </p>
        <p>
            To conduct the process for your own community, please input the community name into the <span class="helpvar">Name</span> field.
            You may optionally add a <span class="helpvar">description</span> for your project.
        </p>
        <p>
            <span class="helpvar">Latitude and longitude:</span> To fill in the site's coordinates, simply select the location on the map.
            You can zoom into the map by scrolling and panning by dragging. Once a site is selected, the
            latitude and longitude will be automatically filled in.
        </p>
        <!--            TODO should we get rid of simulation start?-->
        <p>
            <span class="helpvar">Currency exchange rate:</span> The assumed exchange rate plays a role for the default costs used during the process of this toolbox.
            Since default cost assumptions made are based on typical costs in USD (see sources for default values in
            <a href="#section-scenario_setup">step 4</a>), the assumed costs for the systems
            might be outdated if the exchange rate fluctuates significantly. The current exchange rate is fetched once
            during the creation of the project, but will <b>not</b> update automatically once the project is created. As such,
            you should ensure that the given exchange rate still constitutes a reasonable assumption when working on older projects,
            and manually update its value if necessary.<br>
        </p>
    </div>
</main>
