<main>
<!--    TODO change this description based on if we keep the different wealth tiers or not-->
    <div>
    <h2>Community load input</h2>
    Several typical standardized demand profiles have been developed from roughly 3600 energy appliance
    ownership and usage surveys that were conducted across Nigeria in 2020 in 3 prioritized geopolitical zones.
    Survey details can be found in the following publication:
    <a href="https://www.nature.com/articles/s41597-023-02185-0">PeopleSuN (2023) Electricity supply quality and
    use among rural and peri-urban households and small firms in Nigeria</a> <br>
    Since the toolbox uses standardized demand profiles from electrified regions, the aggregated demand estimated in this
        step is assumed to be able to cover future demand, and thus does not include a growth factor over time. To address concerns regarding
        system oversizing, the household coverage parameter was introduced <!-- TODO link to the section where that is explained-->
    In this step, the user should input all households, enterprises and public facilities present in the community.
    All enterprise load profiles only include typical low power appliances in their respective demand profiles. As such,
    if machinery responsible for large loads should be included, this needs to be done separately by adding "Machinery"
    consumers to the list. As such, the user filling out the community demand should not only have information about
    the general community size and consumers, but also about specific large load related to existing enterprises. If a
    specific demand profile is not found on the list, the user may default to the generic load profiles included in the list.
    <h2>SHS Threshold</h2>
        Typically, not all households would be connected to the mini-grid. Instead, for households for which the grid connection
        cost is too high, a Solar Home System might provide a more feasible alternative. Normally, both spatial distribution
        and estimated demand play a part in defining these households. Since the spatial component is not included in this
        toolbox, households can instead be excluded from the simulation based on their estimated demand. By default,
        all households assumed to belong to the "Very Low Consumption" tier are assumed to be served by Solar Home Systems
        instead. For the toolbox, this means that the demand belonging to these households is not included when sizing the mini-grid. <br>
        By de-selecting the "Served by SHS" trace in the given graph, the total demand used to size the mini-grid can be seen.
        If the SHS Threshold is set to the highest demand tier, the demand is equivalent to only considering enterprises and public facilities.

    <h2>Household demand coverage</h2>
        To avoid oversizing the mini-grid, it can sometimes be helpful to size a system not according to the total demand
        (which in the case of this toolbox represents future demand), but to only reliably satisfy a percentage of the total demand.
        The percentage given in this factor indicates what percentage of the household demand should be able to be satisfied by the mini-grid.
        Demand from enterprises and facilities is always 100% satisfied.
    </div>

</main>
