<main>
    <div>
    <h2>Financing sources</h2>
        There are multiple sources of financing for a potential mini-grid project: Equity from the project developer,
        equity from the community and an acquired grant. A loan is assumed to cover the rest of the costs that can‘t be
        covered though grants and equity. In this page, the user can input the share of the upfront investments that might
        be covered by a grant and the share that might be covered by a project developer, as well as a fixed amount that
        could realistically be raised by the community, if desired. <br>
        A loan is assumed to cover the rest of the investment costs that can‘t be covered though grants and equity. To
        model the loan repayments, this page also allows the user to input the expected interest rate for the loan, as well as
        the repayment period.

    <h2>Additional parameters</h2>
        <strong>Interest rate for replacement loan</strong>: After the given loan maturity years, the initial loan
        would be fully repaid. However, there are some assets that may need replacement, as their lifetime is typically
        shorter than the project lifetime. To cover these costs, the tool considers an additional loan after ten years
        to cover replacement costs. Here, the user has the option to input the assumed interest rate for this additional loan. <br>
<!--        TODO why is the energy system exempt from VAT again?-->
        <strong>Tax factor</strong>: The tax factor will be applied to logistics and labour costs. In Nigeria, the main VAT rate is
        <a href="https://taxsummaries.pwc.com/nigeria/corporate/other-taxes">7,5%</a>, which is the default value set in the tool.
        <strong>Fix project costs</strong>: The financial considerations in the tool already assume a number of additional costs
        beyond the energy system investment costs, e.g. the tool makes assumptions for labour, security, and land lease costs.
        These costs will be computed along with the energy system simulation and displayed in the results page. If the user
        is aware of additional fix project costs that will occur (e.g. land purchase or some other fix payment), it can be
        input into this field.

</div>
</main>
