<main>
    <div>
        Welcome to the CP Nigeria Toolbox. This toolbox is aimed towards communities interested in approaching stakeholders
        to initiate a mini-grid project. The toolbox seeks to empower communities by equipping them with all necessary tools
        and information to start reaching out to potential project partners.
        The toolbox has been developed within the frame of the project <b>"CP Nigeria: Communities of Practice as drivers of
        a bottom-up energy transition in Nigeria"</b> by the <a href="https://reiner-lemoine-institut.de/en/project-cp-nigeria/">Reiner Lemoine Institute</a>. This project is funded by the
        <a href="https://www.international-climate-initiative.com/en/project/communities-of-practice-as-driver-of-a-bottom-up-energy-transition-in-nigeria-img2020-i-003-nga-energy-transition-communities-of-practice/">International Climate Initiative (IKI)</a>.
        The toolbox will guide you through a number of steps with the goal of
        <ol>
            <li>Estimating the communities' future electricity demand</li>
            <li>Sizing a mini-grid to satisfy the estimated demand</li>
            <li>Supporting you in choosing a viable business model for the mini-grid</li>
            <li>Conducting a financial analysis and estimating a potential tariff for the mini-grid project</li>
            <li>Generating a comprehensive report that can be used to address project partners</li>
        </ol>
<!--        TODO we should probably change that clicking on the top ribbon also saves changes-->
        Each step will ask you to input certain information. The inputs on each page will be saved upon clicking
        the <button class="btn btn-small">Next</button> button, and will be lost if you close the page (or jump between
        steps using the top ribbon).
    </div>
</main>
