<main>
    <div>
        Welcome to the CP Nigeria Toolbox. This toolbox is aimed towards communities interested in approaching stakholders
        to initiate a mini-grid project. The Toolbox aims to empower communities by equipping them with all necessary tools
        and information to start reaching out to potential stakeholders. <br>
        The toolbox will guide you through a number of steps with the goal of
        <ol>
            <li>Estimating the communities' future electricity demand</li>
            <li>Sizing a mini-grid to satisfy the estimated demand</li>
            <li>Supporting you in choosing a viable business model for the mini-grid</li>
            <li>Conducting a financial analysis and estimating a potential tariff for the mini-grid project</li>
            <li>Generating a comprehensive report that can be used to address project partners</li>
        </ol>
    </div>
</main>
