{% extends 'cp_nigeria/base_cpn.html' %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block head_block %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" crossorigin=""
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="/>
    <link rel="stylesheet" href="{% static 'css/map.css' %}" type="text/css">
{% endblock head_block %}

{% block start_body_scripts %}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" crossorigin=""
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==">
    </script>
{% endblock %}

{% block title %}{% translate "Help" %}{% endblock title %}

{% block content %}
<main>
    <section class="header">
        <div>
            <div class="header__left"></div>
            <h1 class="header__title">{% translate "Help" %}</h1>
            <div class="header__back"></div>
        </div>
    </section>
    <section class="container cpn">
        <label for="step">Select a step to display further information:</label>
        <select class="form-select" id="step" name="step">
            {% for step, verbose in steps %}
            <option value="{{ step }}" >{{ verbose }}</option>
            {% endfor %}
        </select>
        <hr>
        <div class="container" id="help_content">

        </div>
    </section>

</main>


{% endblock content %}

<!-- TODO create next/previous buttons at bottom of help page-->
<!--{% block step_footer %}-->
<!--<footer class="step-footer">-->
<!--	<div>-->
<!--		<div class="step-footer__left"></div>-->
<!--		<div class="step-footer__center">-->
<!--			<a href="{% url 'cpn_steps' proj_id step_id|add:'-1' %}" aria-disabled="true">{% translate "Previous" %}</a>-->
<!--			<a class="btn btn&#45;&#45;medium btn&#45;&#45;hollow" href="{% url 'cpn_simulation_cancel' proj_id %}" onclick="return confirm('Are you sure?')">{% translate "Cancel simulation" %}</a>-->
<!--		</div>-->
<!--		<div class="step-footer__right"></div>-->
<!--	</div>-->
<!--</footer>-->
<!--{% endblock step_footer %}-->

{% block end_body_scripts %}

 <script>
    $(document).ready(function() {
        loadHelpText();
    });

    document.getElementById("step").addEventListener("change", function() {
        loadHelpText();
    });

    function loadHelpText () {
    var selectedStep = document.getElementById("step").value;
        $.ajax({
            url: `{% url 'ajax_help_page' %}`,
            data: {
                'selected_step': selectedStep
                },
            success: function (data) {
                document.getElementById("help_content").innerHTML = data
                }
            });
    };

    </script>

{% endblock end_body_scripts %}
