@import '../abstracts/variables';

.icon {
  &--small {
    font-size: 0.6rem;
  }
}

.icon[data-bs-toggle="tooltip"] {
  cursor: pointer;
  padding-left: 0.35rem;
  vertical-align: middle;
  color: $primary-color-1;
}

.actions .btn--action {
  .icon:not(.icon-results)::before {
    color: $primary-gray-color-4;
}

  &:hover .icon:not(.icon-results)::before {
    color: $primary-gray-color-3;
  }
}

.tooltip-inner {
  max-width: 350px!important;
}
