@import '../abstracts/variables';

.icon {
  &--small {
    font-size: 0.6rem;
  }
}

.icon[data-bs-toggle="tooltip"] {
  cursor: pointer;
  padding-left: 0.35rem;
  vertical-align: middle;
  color: $primary-color-1;
}

.actions .btn--action {
  .icon:not(.icon-results)::before {
    color: $primary-color-2;
}

  &:hover .icon:not(.icon-results)::before {
    color: $primary-color-2-light;
  }
}

.tooltip-inner {
  max-width: 350px!important;
}

/* From Uiverse.io by barisdogansutcu */
.spinner {
  svg {
    width: 2em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
  }

  circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
  }

  @keyframes rotate4 {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash4 {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }

    100% {
      stroke-dashoffset: -125px;
    }
  }
}
