{% extends 'wefe/steps/step_progression.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block head_block %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" crossorigin=""
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" />
<link rel="stylesheet" href="{% static 'css/map.css' %}" type="text/css">
{% endblock head_block %}

{% block start_body_scripts %}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" crossorigin=""
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==">
    </script>

{% endblock %}

{% block progression_content %}
    <div>
        <section class="project-setup two-columns">
            <div class="left">
                <div>
                    <div class="text">
                  <span>
                    {% translate "Fill in the following parameters:" %}
                  </span>
                    </div>
                    <form method="post">
                        {% csrf_token %}

                        {% for field in form %}

											    {{ field | as_crispy_field }}

                        {% endfor %}
                        {{ economic_data | crispy }}
                        <button id="submitFormBtn" style="display: none;" type="submit">
                        </button>
                    </form>
                </div>
            </div>
            <div class="right">
                <div>
                    <!-- Insert map -->
                    <div class="map" id="mapid">

                    </div>
                </div>
            </div>
        </section>
    </div>


        <script>
            /* Map Show and Latitude-Longitude data autofill */
            const mymap = L.map('mapid').setView([49.45, 13.89], 4);
            const lat_inp = document.getElementById('id_latitude');
            const lng_inp = document.getElementById('id_longitude');
            const alt_inp = document.getElementById('id_altitude');
            var marker;
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: 'pk.eyJ1IjoidmFsa2FsYWlzIiwiYSI6ImNrZGhpZ29peTFnMjIycG5ybWR3aG4yeHIifQ.L4y4PQjkIdO1c7pvzOr2kw'
            }).addTo(mymap);

            if(lat_inp.value && lng_inp.value){
                marker = new L.Marker([lat_inp.value, lng_inp.value]);
                marker.addTo(mymap);
            }

            // var popup = L.popup();

            function onMapClick(e) {
                if(marker){mymap.removeLayer(marker);}
                    marker = new L.Marker([e.latlng.lat, e.latlng.lng]);
                    marker.addTo(mymap);
                // popup.setLatLng(e.latlng)
                //     .setContent(`Location Coordinates: <br> (${e.latlng.lat.toFixed(4)}. ${e.latlng.lng.toFixed(4)})`).openOn(mymap);
                lat_inp.value = e.latlng.lat.toFixed(6);
                lng_inp.value = e.latlng.lng.toFixed(6);
                updateAltitudeInput();
                /*
                $.ajax({
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    type: "GET",
                    url: `https://nominatim.openstreetmap.org/reverse?format=json&lat=${e.latlng.lat.toFixed(6)}&lon=${e.latlng.lng.toFixed(6)}`,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (resp) {
                        console.log(resp.address.country);
                        popup.setLatLng(e.latlng)
                        .setContent("Location " + resp.address.country + "<br> Coordinates:" + e.latlng.toString()).openOn(mymap);
                        //$('#id_country').val(resp.address.country);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        const jsonData = XMLHttpRequest.responseJSON;
                        //Swal.fire('Country Error', `Could not retrieve country name.`, 'error');
                    }
                });
                */

            }

            mymap.on('click', onMapClick);

            // update altitude if lat/long changes
            function updateAltitudeInput() {
                if (!alt_inp)
                    return;  // altitude input not found
                if (alt_inp.getAttribute('locked'))
                    return;  // altitude input already manually changed
                let lat = lat_inp.value;
                let lng = lng_inp.value;
                if (!lat || !lng)
                    return;  // lat/lng not set
                let meteo_url = '{{ OPEN_METEO_URL }}elevation?latitude=' + lat + '&longitude=' + lng;
                fetch(meteo_url).then(resp => {
                    if (!resp.status == 200)
                        throw Exception(resp.content)
                    resp.json().then(data => alt_inp.value = data.elevation[0]);
                }).catch(error => {
                    console.error('meteo failed', error);
                    // fallback: open topo data
                    let topo_url = '{{ OPEN_TOPO_URL }}srtm90m?locations=' + lat + ',' + lng;
                    fetch(topo_url).then(resp => {
                        if (!resp.status == 200)
                            throw Exception(resp.content)
                        resp.json().then(data => alt_inp.value = data.results[0].elevation);
                    }).catch(error => {
                        console.error('topo failed as well', error);
                    });
                });
            }
            lat_inp.onchange = _ => updateAltitudeInput();
            lng_inp.onchange = updateAltitudeInput();
            alt_inp.onchange = _ => {
                // set altitude manually: don't update altitude when changing lat/lng
                // (this is not triggered when changing value from code)
                alt_inp.setAttribute('locked', true);
            }
        </script>

    </div>
</div>


{% endblock %}


{% block next_btn %}
<button id="next-button" class="btn btn--medium" onclick="javascript:submitFormBtn.click();">{% translate "Next" %}</button>
{% endblock next_btn %}


{% block end_body_scripts %}
<script src="{% static 'js/dependent_dropdown.js' %}"></script>
<script>
    const getCommunityDetails = `{% url 'get_community_details' %}`
    const getExchangeRate = `{% url 'get_exchange_rate' %}`
</script>
{% endblock end_body_scripts%}
