{% extends 'wefe/steps/step_progression.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block head_block %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" crossorigin=""
	  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" />
<link rel="stylesheet" href="{% static 'css/map.css' %}" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock head_block %}

{% block start_body_scripts %}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" crossorigin=""
		integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/2.20.0/plotly.min.js" integrity="sha512-tuzZby9zsxdCMgqKMHo+ObEWrfBTFlKZ7yIHSow5IYbr0JseLNTXm37NSn0rrWVbvKMfvGUCSm5L1sK9QGuLyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/wefedemand_requests.js' %}"></script>

{% endblock start_body_scripts %}

{% block progression_content %}
<div>
	<section class="container-lg">
		<h1>Demand collection survey</h1>
		<p>To simulate demand timeseries using RAMP, first demand data should be collected. To create a shareable link
			to a survey, please use the button below. </p>
		<ul>
			<li>What else should be possible here?</li>
			<li>We could allow to host the survey on own server and input kobo API key from user</li>
			<li>We could also allow to upload demand data directly, then we have give instructions into needed format</li>
		</ul>
		{% if not survey_id %}
		<div>
			<button id="survey_button" class="btn btn--medium" onclick="javascript:generateSurveyLink({{ proj_id }})" style="margin-top:0.5rem">
				Generate survey link
			</button>
			<span class="spinner" id="loading_spinner-create" style="display:none; margin-top: 0.5rem">
				  <svg viewBox="25 25 50 50">
	  				<circle r="20" cy="50" cx="50"></circle>
				  </svg>
			</span>
		</div>
		<div id="link_display">

		</div>
		{% else %}
		<div id="link_display">
			Use the following link to fill out the questionnaire <a href="{{survey_url}}">{{ survey_url }} </a>
		</div>
		<div>
		<button id="delete" class="btn btn--medium" onclick="javascript:deleteSurvey({{ proj_id }})" style="margin-top:0.5rem">
			Delete survey (warning!!)
		</button>
		<span class="spinner" id="loading_spinner-delete" style="display:none; margin-top: 0.5rem">
			<svg viewBox="25 25 50 50">
				<circle r="20" cy="50" cx="50"></circle>
			</svg>
		</span>
		</div>


		{% endif %}
	</section>
</div>

<div>
	<section class="container-lg">
		<h1>Test WEFE-Demand API</h1>
		<button id="ramp-sim" class="btn btn--medium" onclick="javascript:wefeDemandRequest({{ proj_id }}, 'ramp')" style="margin-top:0.5rem">
			Ramp simulation
		</button>

		{% if response %}
		<div class="response">
			<h3>Response:</h3>
			<pre>{{ response|safe }}</pre>
		</div>
		{% endif %}
		<form method="POST" action=""> {# % url 'wefe_scenario' proj_id % #}
			{% csrf_token %}
			<button id="submitFormBtn" style="display: none;" class="btn btn--medium" type="submit" value="test">{% translate "Create Scenario" %}</button>
		</form>
	</section>
	<section class="container-lg">
		<div id="waterPlot"></div>
		<div id="electricityPlot"></div>
	</section>
</div>



{% endblock progression_content %}


{% block next_btn %}
<button id="next-button" class="btn btn--medium" onclick="javascript:submitFormBtn.click();">{% translate "Next" %}</button>
{% endblock next_btn %}


{% block end_body_scripts %}
<script>
	const urlGenerateSurveyLink = `{% url 'ajax_generate_survey_link' %}`;
	const urlDeleteSurvey = `{% url 'ajax_delete_survey' %}`;
	const urlRampSimulation = `{% url 'request_wefedemand_simulation' proj_id %}`;
	const urlGetDemandData = `{% url 'get_wefedemand_data' proj_id %}`;
	const csrfToken = `{{ csrf_token }}`;
	const proj_id = `{{ proj_id }}`;
</script>

{% endblock end_body_scripts%}
