{% extends 'wefe/steps/step_progression.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load i18n %}


{% block head_block %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<!--link rel="stylesheet" type="text/css" href="{% static 'path a css file' %}"/-->
{% endblock head_block %}

{% block start_body_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.21/jquery.csv.min.js" integrity="sha512-Y8iWYJDo6HiTo5xtml1g4QqHtl/PO1w+dmUpQfQSOTqKNsMhExfyPN2ncNAe9JuJUSKzwK/b6oaNPop4MXzkwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/2.20.0/plotly.min.js" integrity="sha512-tuzZby9zsxdCMgqKMHo+ObEWrfBTFlKZ7yIHSow5IYbr0JseLNTXm37NSn0rrWVbvKMfvGUCSm5L1sK9QGuLyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/traceplot.js' %}"></script>
<script>
	const data = JSON.parse(`{{timeseries| escapejs }}`);
	var timestamps = {{ timestamps | safe }};
	var test = {{ test }};
</script>
{% endblock start_body_scripts %}


<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block progression_content %}


<div>
	<section class="container-lg">
		<form method="POST" action=""> {# % url 'wefe_scenario' proj_id % #}
			{% csrf_token %}
			<button id="submitFormBtn" style="display: none;" class="btn btn--medium" type="submit" value="test">{% translate "Create Scenario" %}</button>
		</form>
		{% for ts_id, verbose in timeseries_keys.items %}
			<span> {{verbose}} </span>
			<div id="weather_data_{{ ts_id }}_ts">
			</div>
		{% endfor %}
	</section>
</div>

{% endblock progression_content %}

{% block next_btn %}
<button id="next-button" class="btn btn--medium" onclick="javascript:submitFormBtn.click();">{% translate "Next" %}</button>
{% endblock next_btn %}

{% block end_body_scripts %}

<script>
	Object.entries(data).forEach(([key, value]) => {
    makePlotly(timestamps, value, plot_id=`${key}_ts`,userLayout={hovermode:'x unified'})
	});
	</script>
{% endblock end_body_scripts %}
