{% load i18n %}
<ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
	<li class="nav-item" role="presentation">
		<button class="nav-link active" id="manual-tab" data-bs-toggle="tab" data-bs-target="#manual" type="button" role="tab" aria-controls="manual" aria-selected="true">{% translate "Manual" %}</button>
	</li>
		<li class="nav-item" role="presentation">
		<button class="nav-link" id="upload-tab" data-bs-toggle="tab" data-bs-target="#upload" type="button" role="tab" aria-controls="upload" aria-selected="false">{% translate "Upload" %}</button>
	</li>
	<li class="nav-item" role="presentation">
		<button class="nav-link" id="select-tab" data-bs-toggle="tab" data-bs-target="#select" type="button" role="tab" aria-controls="select" aria-selected="false">{% translate "Select" %}</button>
	</li>

</ul>
<div class="tab-content" id="myTabContent">
	{% spaceless %}{% for widget in widget.subwidgets %}
	{{ widget.id }}
	{% if 'scalar' in widget.name %}

	<div class="tab-pane fade show active" id="manual" role="tabpanel" aria-labelledby="manual-tab">
		{% include widget.template_name %}
	</div>
	{% elif 'select' in widget.name %}
	<div class="tab-pane fade" id="select" role="tabpanel" aria-labelledby="select-tab">
		{% include widget.template_name %}
	</div>
	{% else %}
	<div class="tab-pane fade" id="upload" role="tabpanel" aria-labelledby="upload-tab">
		{% include widget.template_name %}
	</div>
	{% endif %}
	{% endfor %}{% endspaceless %}
</div>
<div id="{{ widget.name }}_trace"></div>


