@import '../abstracts/variables';

body {
  font-family: $main-font-family !important;
  color: $text-color-main;
  letter-spacing: $letter-spacing-small;
}

p {
  line-height: $line-height-normal;
}

h1 {
  font-size: 40px;
  color: $primary-color-1;
  text-transform: uppercase;
//   font-weight: 700;
}

h2 {
  font-size: 32px;
  color: $primary-color-1;
  text-transform: uppercase;
//   font-weight: 700;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  text-transform: uppercase;
}
