{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load i18n %}


<div class="row cpn-business__info">
	<div class="col">
		<div class="row">
			<h3>
				<span>Model chosen:</span>
				<span class="model-chosen">{{model_name}}</span>
			</h3>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="diagramm">
				<!-- Change image -->
				<img src="{% static 'assets/cp_nigeria/business_models/' %}{{model_image}}" alt="Design system">
			</div>
		</div>
		<div class="col-md-8">
			<div class="info-text">
				<p>{{ model_description}}</p>
			</div>
		</div>
		<div class="col-12">
			<div class="row advantages">
				<div class="col-6 pros">
					<h4>Advantages</h4>
					<ul>
						{% for advantage in model_advantages %}
						<li>{{ advantage }}</li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-6 cons">
					<h4>Disadvantages</h4>
					<ul>
						{% for disadvantage in model_disadvantages %}
						<li>{{ disadvantage }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
