{% extends 'cp_nigeria/steps/step_progression.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block start_body_scripts %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    const csrfToken = `{{ csrf_token }}`;
	const dropdownUrl = `{% url 'ajax_load_timeseries' %}`;
    const updateGraphUrl = `{% url 'ajax_update_graph' %}`;
    const getThresholdUrl = `{% url 'ajax_shs_tiers' %}`;
	var householdTiers = {{ household_tiers | safe }};
</script>
<script src="{% static 'js/consumer_groups.js' %}"></script>
<script src="{% static 'js/dependent_dropdown.js' %}"></script>
<script src="{% static 'js/update_demand_graph.js' %}"></script>


{% endblock start_body_scripts %}
<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->

{% block progression_content %}
<main>
	<section class="container-lg">
		<div class="container">
		<div class="accordion cpn-accordion" id="accordionStep3">
			<div class="accordion-item">
				<h2 class="accordion-header" id="step3HeadingOne">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#step3CollapseOne" aria-expanded="{% if total_demand %} false {%else%} true {% endif %}" aria-controls="step3CollapseOne">
						Consumer type data
					</button>
				</h2>
				<div id="step3CollapseOne" class="accordion-collapse collapse multi-collapse {% if not total_demand %} show {% endif %}" aria-labelledby="step3HeadingOne" data-bs-target=".multi-collapse">
					<div class="accordion-body">
						<form method="POST" id="consumer-group-form">
							{% csrf_token %}
							<p>
								Edit Solar Home System threshold (advanced)
								<label class="switch" data-bs-toggle="collapse" data-bs-target="#SHSForm" for="SHSSwitch">
									<input type="checkbox" id="SHSSwitch">
									<span class="slider round"></span>
								</label>
							</p>
							<div id="SHSForm" class="collapse" style="width:300px">
								{{ shs_form | crispy }}
							</div>

							{{ formset.management_form | crispy }}
							<table class="table" id="ug_container" style="margin-bottom: 0">
								<thead>
								<th></th>
								<th>Consumer type</th>
								<th>Demand profile</th>
								<th>Nr. of consumers</th>

								</thead>
								<tbody>
								{% for form in formset %}
								<tr id="form-{{ forloop.counter0 }}" class="consumer--group" style="height: fit-content">
									<td>
										<button class="btn dropdown-toggle btn--transparent" type="button" id="dropdownMenuTS" data-bs-toggle="dropdown" aria-expanded="false">
											<span class="icon icon-more"></span>
										</button>

										<ul class="dropdown-menu" aria-labelledby="dropdownMenuTS">
											<li><a class="dropdown-item" id="delete-consumer-group">{% translate 'Delete consumer group' %}</a></li>
											<li><a class="dropdown-item" href="{% url 'not_implemented' %}?url={{ request.get_full_path }}">{% translate 'Export as .xls' %}</a></li>
										</ul>

										<input type="hidden" name="{{ form.prefix }}-DELETE" id="{{ form.prefix }}-DELETE" value="false">
									</td>
									{% for field in form %}
									{% if field.name != 'DELETE' %}

									<td>
										{{ field | as_crispy_field }}
									</td>

									{% endif %}
									{% endfor %}
								</tr>
								{% endfor %}
								</tbody>
								<tfoot>
								<tr>
									<td colspan="4" style="text-align: center;padding-top:0">
										<button class="btn btn--small btn--transparent" type="button" id="add-consumer-group" style="margin-top:0.5rem">
											<span class="icon icon-add"></span>
											Add Consumer Group
										</button>
									</td>
								</tr>
								</tfoot>
							</table>
							<button id="submitFormBtn" style="display: none;" type="submit"></button>
						</form>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="step3HeadingTwo">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#demandGraph" aria-expanded="{% if total_demand %} true {%else%} false {% endif %}" aria-controls="demandGraph">
						Electricity Demand Summary
					</button>
				</h2>
				<div id="demandGraph" class="accordion-collapse collapse multi-collapse {% if total_demand %} show {% endif %}" aria-labelledby="step3HeadingTwo" F>
					<div class="accordion-body">
						<!--div class="row">
							<div class="cpn-economic__results">
								<div class="col">
									<div class="cpn-economic__results--1">
										<span class="title">Avg. daily demand (kWh)</span>
										<span class="value" id="avg_daily"></span>
									</div>
								</div>
								<div class="col"></div>
								<div class="col">
									<div class="cpn-economic__results--2">
										<span class="title">Peak demand (kW)</span>
										<span class="value" id="peak_demand"></span>
									</div>
								</div>
							</div>
						</div-->

						<div class="row">
							<div id="demand-aggregate">
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>



</main>

{% endblock progression_content %}

{% block next_btn %}
<button id="next-button" class="btn btn--medium" onclick="javascript:submitFormBtn.click();">{% translate "Next" %}</button>
{% endblock next_btn %}

{% block end_body_scripts %}
<script>
initialPlot();
</script>
{% endblock end_body_scripts %}
