{% extends 'cp_nigeria/steps/step_progression.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block progression_content %}
<main>
    <div class="text">
        <span>
            {% translate "Fill in the following parameters:" %}
        </span>
    </div>
    <section class="project-setup two-columns">
       <div class="left">
		   <div>
                    <form method="post">
                        {% csrf_token %}

                        <div class="input-item">
                            {{ form.households| as_crispy_field }}
                        </div>
                        <div class="input-item optional">
                            {{ form.tier| as_crispy_field }}
                        </div>
                        <div class="input-item optional">
                            {{ form.curve| as_crispy_field }}
                        </div>
                    </form>
                </div>
            </div>
	<div class="right">
		   <div>
                    <form method="post">
                        {% csrf_token %}

                        <div class="input-item">
                            {{ form2.households| as_crispy_field }}
                        </div>
                        <div class="input-item optional">
                            {{ form2.tier| as_crispy_field }}
                        </div>
                        <div class="input-item optional">
                            {{ form2.curve| as_crispy_field }}
                        </div>
                    </form>
                </div>
            </div>
    </section>
</main>

{% endblock progression_content %}

{% block end_body_scripts %}
{% endblock end_body_scripts %}








