{% extends 'cp_nigeria/steps/step_progression.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load i18n %}


<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block progression_content %}



<main>
<div class="container">

	<section class="project-setup two-columns">
<form style="display:flex" method="post">

			<div class="left">
				<div>
					{% csrf_token %}
					{{form |crispy }}
				</div>
			</div>
			<div class="right">
				<div>
					<div>
						{{equity_form |crispy }}
					</div>
					<p>Shortly explain dispatch hierarchy: prioritize solar > main grid > batt > diesel</p>
					<p>The parameters about maintenance costs which are gathered on the other page could also be layed out here instead as option.</p>
					<p><span>total daily demand</span> : XXXX</p>
					<p><span>daily peak demand</span> : XXXX</p>
					{% if es_schema_name %}
					<img class="img" src="{% static 'assets/gui/' %}{{ es_schema_name }}" alt="example_es">
					{% endif %}
				</div>


			</div>

		</form>
	</section>
				<center><button class="btn btn--medium" type="submit">
				{% translate "Save parameters" %}
			</button></center>
</div>
</main>



{% endblock progression_content %}


{% block end_body_scripts %}
{% endblock end_body_scripts %}
