{% extends 'cp_nigeria/steps/step_progression.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load i18n %}


{% block head_block %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.css">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!--<script src="{% static 'js/plotly.min.js' %}"></script>-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/quick_fix.css' %}"/>
{% endblock head_block %}

{% block start_body_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.21/jquery.csv.min.js" integrity="sha512-Y8iWYJDo6HiTo5xtml1g4QqHtl/PO1w+dmUpQfQSOTqKNsMhExfyPN2ncNAe9JuJUSKzwK/b6oaNPop4MXzkwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.1.1/d3.min.js" integrity="sha512-COTaPOlz12cG4fSfcBsxZsjauBAyldqp+8FQUM/dZHm+ts/jR4AFoJhCqxy8K10Jrf3pojfsbq7fAPTb1XaVkg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/traceplot.js' %}"></script>

<!--
<link rel="stylesheet" type="text/css" href="{% static 'css/beautiful1.css' %}"/>


<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
-->
{% endblock start_body_scripts %}


<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block progression_content %}


<main>
	<section class="container-lg cpn cpn-setup">
		<form method="POST" action="{% url 'cpn_scenario' proj_id %}">
			{% csrf_token %}
			<button id="submitFormBtn" style="display: none;" class="btn btn--medium" type="submit" value="test">{% translate "Create Scenario" %}</button>

			<div class="row">
				<div class="col-md-4">
					<div>
						<input class="form-check-input" type="checkbox" id="diesel_checkbox" name="es_choice" value="diesel_generator" {% if 'diesel_generator' in es_assets %} checked {% endif %}>
						<label class="form-check-label" for="diesel_checkbox">Diesel generator</label>
						<div>
							<div class="img img--diesel">
								<span></span>
							</div>
							<a role="button" class="btn btn--small btn--hollow" data-bs-toggle="collapse"  data-bs-target="#diesel_params"  aria-expanded="false">Expand parameters</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div>
						<input class="form-check-input" type="checkbox" id="pv_checkbox" name="es_choice" value="pv_plant" {% if 'pv_plant' in es_assets %} checked {% endif %}>
						<label class="form-check-label" for="pv_checkbox">PV plant</label>
						<div>
							<div class="img img--pv">
								<span></span>
							</div>
							<a role="button" class="btn btn--small btn--hollow" data-bs-toggle="collapse" data-bs-target="#pv_params" aria-expanded="false">Expand parameters</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div>
						<input class="form-check-input" type="checkbox" id="storage_checkbox" name="es_choice" value="bess" {% if 'bess' in es_assets %} checked {% endif %}>
						<label class="form-check-label" for="storage_checkbox">Battery storage</label>
						<div>
							<div class="img img--storage">
								<span></span>
							</div>
							<a role="button" class="btn btn--small btn--hollow" data-bs-toggle="collapse" data-bs-target="#storage_params" aria-expanded="false">Expand parameters</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="collapse form-stretch" id="diesel_params">
						{{ form_diesel_generator|crispy }}
					</div>
				</div>
				<div class="col">
					<div class="collapse form-stretch" id="pv_params">
						{{ form_pv_plant|crispy }}
					</div>
				</div>
				<div class="col">
					<div class="collapse form-stretch" id="storage_params">
						{{ form_bess|crispy }}
					</div>
				</div>
			</div>
		</form>
	</section>


	<!--section>
		    <div class="grid-container" >
<fieldset style="display: contents;">
          <div>

						<label class="form-check-label" for="diesel_checkbox">Diesel generator</label>
						<div>
							<img class="img" src="{% static 'assets/gui/diesel_generator.svg' %}" alt="diesel_generator">
							<a role="button" class="btn btn--small btn--hollow" data-bs-toggle="collapse" data-bs-target="#diesel_params" aria-expanded="false">Expand parameters</a>
						</div>
					</div>

					<div>
						<label class="form-check-label" for="pv_checkbox">PV-Plant</label>
						<div>
							<img class="img" src="{% static 'assets/gui/pv_plant.svg' %}" alt="pv_plant">
							<a role="button" class="btn btn--small btn--hollow" data-bs-toggle="collapse" data-bs-target="#pv_params" aria-expanded="false">Expand parameters</a>
						</div>
					</div>

					<div>
						<label class="form-check-label" for="storage_checkbox">Storage</label>
						<div>
							<img class="img" src="{% static 'assets/gui/bess.svg' %}" alt="storage">
							<a role="button" class="btn btn--small btn--hollow" data-bs-toggle="collapse" data-bs-target="#storage_params" aria-expanded="false">Expand parameters</a>
						</div>
					</div>
</fieldset>
    </div>


		</form>



	</section-->
</main>

{% endblock progression_content %}

{% block next_btn %}
<button id="next-button" class="btn btn--medium" onclick="javascript:submitFormBtn.click();">{% translate "Next" %}</button>
{% endblock next_btn %}

{% block end_body_scripts %}
{% endblock end_body_scripts %}
