{% extends 'cp_nigeria/steps/step_progression.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load i18n %}

{% block head_block %}
<style>
.highlight {
  background-color: blue;
}
</style>
{% endblock head_block %}

<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block progression_content %}

<a href="{% url 'business_model' scen_id %}"> help preselect the most appropriate model</a>

<form action="{% url 'cpn_model_choice' proj_id %}" method="POST">
		{{ form }}
	 {% csrf_token %}
	<!--button type="submit"> next</button-->
	</form>

<div id="selected_model">

</div>

{% if recommanded_model %}
<p>
	Recommanded model: {{ recommanded_model }}
	<span>Text explaning why this model was choosen</span>
</p>
{% endif %}
{% endblock progression_content %}


{% block end_body_scripts %}
<script>
$(document).on('change', '#id_model_name', function () {
	console.log('selection changed')
	console.log($(this).val());
	var consumer_typeId = $(this).val();  // get the selected consumer_type ID from the HTML input
	// var parentTr = $(this).closest('tr'); // Get the parent table row of the changed input
	// // Find the corresponding timeseries input within the same div
	// var timeseriesInput = parentTr.find('select[name*="timeseries"]');
	//

	$.ajax({                       // initialize an AJAX request
		url: `{% url 'ajax_bmodel_infos' %}`,                    // set the url of the request (= localhost:8000/hr/ajax/load-facilities/)
		data: {
			'consumer_type': consumer_typeId       // add the consumer_type id to the GET parameters
		},
		success: function (data) {   // `data` is the return of the `load_facilities` view function
			console.log(data);
			document.getElementById("selected_model").innerHTML=data
		}
	});
});
</script>
{% endblock end_body_scripts %}