{% extends 'cp_nigeria/steps/step_progression.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load i18n %}

{% block head_block %}
{% endblock head_block %}

<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block progression_content %}

{% include "modal_template.html" with id="helpSelectBMModal" modal_style_class="modal--gui" submit_btn_label="Save" title="Assess suitability for a community-led approach" custom_submit_function="suggestBusinessModel(event)"%}

<section class="container-lg cpn cpn-business">
	<div class="row">
		<div class="col">
			<p>Choose your model amongst the selection:</p>
			<form id="businessModelForm" action="{% url 'cpn_model_choice' proj_id %}" method="POST">
				{{ form }}
				{% csrf_token %}
			</form>
			{% if score %}
			{% if score >= 0.7 %}
			<div class="text">
				<span>
					{% translate "This project might be suited for a community-led model based on your answers to the " %} <a onclick="javascript:showQuestionnaire()">{% translate "questionnaire" %}</a>.
				</span>
			</div>
			{% else %}
			<div class="text">
				<span>
					{% translate "This project might <b>not</b> be suited for a community-led model based on your answers to the " %} <a onclick="javascript:showQuestionnaire()">{% translate "questionnaire" %}.</a>
				</span>
			</div>
			{% endif %}
			<div class="text">
				<form action="{% url 'reset_answers_to_questionnaire' bm.id %}">
					{% csrf_token %}
					<button type="submit" class="btn btn--medium">{% translate "Reset the questionnaire" %}</button>
				</form>
			</div>
			{% endif %}
		</div>
	</div>
	<div id="selected_model"></div>
</section>

{% endblock progression_content %}


{% block next_btn %}
<button {% if not recommended_model %}disabled="true"{% endif %} id="next-button" class="btn btn--medium" onclick="javascript:submitBusinessModelForm()">{% translate "Next" %}</button>
{% endblock next_btn %}




{% block end_body_scripts %}
<script src="{% static 'js/modal_utils.js' %}"></script>


<script>

		function submitBusinessModelForm(){
			document.getElementById("businessModelForm").submit()
		}

		var helpSelectBMModalDOM = document.getElementById("helpSelectBMModal");
		function showQuestionnaire(){
			$.ajax({
				url: `{% url 'help_select_questions' bm.id %}`,
				success: function (formContent) {
					helpSelectBMModalDOM.querySelector('form').innerHTML = formContent;
					showModal(event,modalId='helpSelectBMModal', attrs={'action': `{% url 'help_select_questions' bm.id %}`, 'enctype': 'multipart/form-data' })
				}
			});
		}

	$(document).on('change', '#id_model_name', function () {
		document.getElementById("selected_model").innerHTML = ""
		var modelChoice = $(this).val();  // get the selected model from the HTML input

		if(modelChoice == ""){
			$("#next-button").attr("disabled",true);
		}
		else if(modelChoice == "help_select")
		{
			$("#next-button").attr("disabled",true);
			showQuestionnaire()
		}
		else {
			$.ajax({
				url: `{% url 'ajax_bmodel_infos' %}`,
				data: {
					'model_choice': modelChoice
				},
				success: function (data) {
					document.getElementById("selected_model").innerHTML = data
					$("#next-button").attr("disabled",false);
				}
			});
		}
	});

	function suggestBusinessModel(event){
		helpSelectBMModalDOM.querySelector('#helpSelectBMModalSubmitBtn').click()
	}
</script>

<script>
	// trigger the change function of the model selection to update display for preselected values
	$("#id_model_name").change();
</script>

{% endblock end_body_scripts %}
