{% extends 'cp_nigeria/steps/step_progression.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load humanize %}
{% load custom_template_tags %}
{% load i18n %}
{% load static %}

{% block head_block %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-bs/1.10.23/dataTables.bootstrap.min.css" integrity="sha512-Z+BWkkwxMpBhQthPeqw2UbG1tamgkRHi1UaYyZ8mTnjt04iXqeVx/Wu4CYzPOn3E+x663DIV+SiAuKDHbTg6FQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">
<!--link href="{% static 'css/quick_fix.css' %}" rel="stylesheet" type="text/css" /-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.css">

{% endblock head_block %}

{% block start_body_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.21/jquery.csv.min.js" integrity="sha512-Y8iWYJDo6HiTo5xtml1g4QqHtl/PO1w+dmUpQfQSOTqKNsMhExfyPN2ncNAe9JuJUSKzwK/b6oaNPop4MXzkwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.1.1/d3.min.js" integrity="sha512-COTaPOlz12cG4fSfcBsxZsjauBAyldqp+8FQUM/dZHm+ts/jR4AFoJhCqxy8K10Jrf3pojfsbq7fAPTb1XaVkg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script src="{% static 'js/traceplot.js' %}"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/2.20.0/plotly.min.js" integrity="sha512-tuzZby9zsxdCMgqKMHo+ObEWrfBTFlKZ7yIHSow5IYbr0JseLNTXm37NSn0rrWVbvKMfvGUCSm5L1sK9QGuLyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/2.5.4/tippy.all.min.js" integrity="sha512-9LKXH8DIeFSdiDIWQSOJNZuwLynJNm4x/1eBRpPfRJsEXZWJL+aoH+JNDglF3DcCoQYVBHqXo8sVHOLveoaN0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net/1.10.23/jquery.dataTables.min.js" integrity="sha512-coE8Qg+5Eb8e0xSXkdSJYln78NclTBgX6rducQWvi3NZooVaR1GVcVA5fRPVetzSqh9CEBv7hzwuQsZLLC0e8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock start_body_scripts %}

{% block title %}{% translate "Results" %}{% endblock title %}

{% block progression_content %}

<!-- Modal -->
<div class="modal fade modal--gui" id="guiModal" tabindex="-1" role="dialog" aria-labelledby="guiModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="guiModalLabel">New message</h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form>
				{% csrf_token %}
				<div class="modal-body"></div>
			</form>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Close" %}</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade modal--dashboard" id="KPIModal" tabindex="-1" aria-labelledby="KPIModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="KPIModalLabel">{% translate "KPI Overview" %}</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<table class="table" id="kpiTable">
					<thead>
					<tr>
						<th scope="col">{% translate "Name" %}</th>
						<th scope="col">{% translate "Unit" %}</th>
						<th scope="col">{% translate "Definition" %}</th>
						<th scope="col"></th>
					</tr>
					</thead>
					<tbody>
					{% for kpi_id, kpi in kpi_list.items %}
					<tr>
						<td scope="row">{% translate kpi.verbose %}</td>
						<td>{% translate kpi.unit %}</td>
						<td>{% translate kpi.definition %}</td>
						<td><button class="btn btn--small btn--transparent">+ {% translate "Add to results" %}</button></td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn--medium" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


{% include "modal_template.html" with id="createReportItemModal" modal_style_class="modal--dashboard" submit_btn_label="Create" title="Add a new report item" custom_submit_function="createReportItem(event)" %}

{% include "modal_template.html" with id="createSaGraphModal" modal_style_class="modal--dashboard" submit_btn_label="Create" title="Add a new report item" form=sa_graph_form %}

<!-- Modal to create sensitivity analysis -->
<div class="modal fade modal--dashboard" id="createSaGraphModal" tabindex="-1" role="dialog" aria-labelledby="createSaGraphModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createSaGraphModalLabel">{% translate "Add a sensitivity analysisgraph" %}</h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="POST" action="{% url 'sensitivity_analysis_create_graph' proj_id %}" graph-parameter-url="{% url 'ajax_get_sensitivity_analysis_parameters' %}">
					{% csrf_token %}
					{{ sa_graph_form | crispy}}
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Close" %}</button>
				<button class="btn btn--medium" onclick="javascript:submitModalForm(event, modalId='createSaGraphModal')">{% translate "Create" %}</button>

			</div>
		</div>
	</div>
</div>

<main>
	<section>
		<div class="tab-content" id="js-db-top-section">
			<div>
				<a href="{% url 'cpn_complex_output' proj_id step_id %}">To complex output version (this link will not be there in the final version, it is only for proofing financial tool)</a>
			</div>
			<div class="dashboard">
				<div>
					<div class="header-results">
						<h2 class="title">{% translate "Overview" %}</h2>
					</div>
					<div class="row">
						<div class="col col-md-12">
							<div class="chart">
								<div class="chart__header">
									<!-- style="display: flex;gap: 10px;align-items: center;" -->
									<div>
										<span class="title">{% translate "Schematic" %}</span>
									</div>
								</div>

								<div class="chart__plot">
									<div style="display:flex;justify-content:center;align-content:center;">
										{% if es_schema_name %}
										<img class="img" src="{% static 'assets/gui/' %}{{ es_schema_name }}" alt="example_es" style="width:400px;">
										{% endif %}
									</div>
								</div>
							</div>
							<!--						</div>-->
							<!--					</div>-->
							<!--					<div class="row">-->
							<!--						<div class="col col-md-12">-->
							<div class="chart" id="summary">
								<div class="chart__header">
									<div>
												<span class="title"><a data-bs-toggle="collapse" data-bs-target="#container_project_summary" role="button" aria-expanded="false" aria-controls="container_project_summary">
    Project summary
  </a></span>
									</div>
								</div>
								<div class="chart__plot collapse show" style="overflow: scroll;" id="container_project_summary">
									<!--										<table class="table table-bordered table-hover" id="project_summary">-->
									<!--											<tbody>-->
									<!--											{% for key, value in project_summary.items %}-->
									<!--											<tr>-->
									<!--												<td><b>{{ key }}</b></td>-->
									<!--												<td>{{ value }}</td>-->
									<!--											</tr>-->
									<!--											{% endfor %}-->
									<!--											</tbody>-->
									<!--										</table>-->
								</div>
							</div>
						</div>
					</div>


					{% if scenario_list %}
					<div class="col" id="report_items" style="display:flex;flex-direction:column;">
						<div class="header-results">
							<h2 class="title">{% translate "Mini-Grid System Information" %}</h2>
						</div>

						<div class="row">
							<div class="col col-md-12">
								<div class="chart" id="community">
									<div class="chart__header">
										<div>
												<span class="title"><a data-bs-toggle="collapse" data-bs-target="#container_community_summary" role="button" aria-expanded="false" aria-controls="container_project_summary">
    Community summary
  </a></span>
										</div>
									</div>
									<div class="chart__plot collapse show" style="overflow: scroll;" id="container_community_summary">
									</div>
								</div>
								{% include "report/graph_template.html" with id="mini_grid_demand" title="Total mini-grid demand" %}
								<div class="chart" id="capacities-table">
									<div class="chart__header">
										<div>
												<span class="title"><a data-bs-toggle="collapse" data-bs-target="#container_system_size" role="button" aria-expanded="false" aria-controls="container_system_size">
    Installed and optimized capacities
  </a></span>
										</div>
									</div>
									<div class="chart__plot collapse show" style="overflow: scroll;" id="container_system_size">
									</div>
								</div>
								{% include "report/graph_template.html" with id="capacities" title="Installed and optimized capacities" %}

								<div class="chart" id="system-capex">
									<!--									{% include "report/table_template.html" with id="TableFirstYear" title="Power supply system costs in first year" df=system_costs unit=currency_symbol %}-->
									<div class="chart__header">
										<div>
												<span class="title"><a data-bs-toggle="collapse" data-bs-target="#container_system_costs" role="button" aria-expanded="false" aria-controls="container_system_costs">
    Power supply system costs in first year
  </a></span>
										</div>
									</div>
									<div class="chart__plot collapse show" style="overflow: scroll;" id="container_system_costs">
										<!--									{% include "report/table_template.html" with id="CommunitySummary" title="Community summary" df=cgs_df %}-->
									</div>
								</div>
								{% include "report/graph_template.html" with id="system_costs" title="Power supply system costs in first year" %}
								<div class="chart" id="system-indicators">
									<div class="chart__header">
										<div>
												<span class="title"><a data-bs-toggle="collapse" data-bs-target="#container_system_kpis" role="button" aria-expanded="false" aria-controls="container_system_kpis">
    Key system indicators
  </a></span>
										</div>
									</div>
									<div class="chart__plot collapse show" style="overflow: scroll;" id="container_system_kpis">
									</div>
								</div>
								{% include "report/graph_template.html" with id="cpn_stacked_timeseries" title="Stacked timeseries" %}
							</div>
						</div>
						<div class="header-results">
							<h2 class="title">{% translate "Financial Information" %}</h2>
						</div>
						<div class="row">
							<div class="col col-md-12">
								<div class="chart" id="business-model">
									<div class="chart__header">
										<div>
											<span class="title">{% translate "Business model" %}</span>
										</div>
									</div>
									<div class="chart__plot">
										{{ model_graph}}
										<div style="display:flex;justify-content:center;align-content:center;">
											<img class="img" src="{% static 'assets/cp_nigeria/business_models/' %}{{model_image}}" alt="example_es" style="width:400px;">
										</div>
										<div style="padding-left:5rem;padding-right:5rem;padding-bottom:2rem;padding-top:3rem;">
											<p><h3> Model chosen: {{ model_name }}</h3>
											<p align="justify">{{ model_description }}</p>
										</div>
									</div>
								</div>
								<div class="chart">
									<!--									<div class="chart__header">-->
									<!--										&lt;!&ndash; style="display: flex;gap: 10px;align-items: center;" &ndash;&gt;-->
									<!--										<div>-->
									<!--											<span class="title">{% translate "Financial KPIs" %}</span>-->
									<!--										</div>-->
									<!--									</div>-->

									<!--									<div class="chart__plot">-->
									<!--										<table class="table">-->
									<!--											<thead><tr><th>Description</th><th>Value</th></tr></thead>-->
									<!--											<tr>-->
									<!--												<td>Tariff:</td>-->
									<!--												<td>{{ tariff_NGN | floatformat | intcomma}} {{ currency_symbol }} ({{ tariff_USD | floatformat:3 | intcomma}} USD) </td>-->
									<!--											</tr>-->
									<!--											{% for kpi, value in financial_kpis.items %}-->
									<!--											<tr>-->
									<!--												<td>{{ kpi | safe }}</td>-->
									<!--												<td>{{ value | floatformat | intcomma}} {{ currency_symbol }} </td>-->
									<!--											</tr>-->
									<!--											{% endfor %}-->
									<!--										</table>-->
									<!--									</div>-->
									<!--									{% include "report/table_template.html" with id="FinancialKPIs" title="Financial KPIs" df=comparison_kpi_df unit=currency_symbol %}-->
									<div class="chart" id="financial-kpis">
										<div class="chart__header">
											<div>
												<span class="title"><a data-bs-toggle="collapse" data-bs-target="#container_financial_kpis" role="button" aria-expanded="false" aria-controls="container_financial_kpis">
    Key financial parameters
  </a></span>
											</div>
										</div>
										<div class="chart__plot collapse show" style="overflow: scroll;" id="container_financial_kpis">
											<!--									{% include "report/table_template.html" with id="CommunitySummary" title="Community summary" df=cgs_df %}-->
										</div>
									</div>


								</div>
								<div class="chart" id="financial-structure">
										<div class="chart__header">
											<div>
												<span class="title"><a data-bs-toggle="collapse" data-bs-target="#container_financial_structure" role="button" aria-expanded="false" aria-controls="container_financial_structure">
    Financing Structure
  </a></span>
											</div>
										</div>
										<div class="chart__plot collapse show" style="overflow: scroll;" id="container_financial_structure">
											<!--									{% include "report/table_template.html" with id="CommunitySummary" title="Community summary" df=cgs_df %}-->
										</div>
									</div>
								{% include "report/graph_template.html" with id="cash_flow" title="Cash flow breakdown" %}
								<div class="chart" id="investment-costs">
									<div class="chart__header">
										<div>
												<span class="title"><a data-bs-toggle="collapse" data-bs-target="#container_total_capex" role="button" aria-expanded="false" aria-controls="container_total_capex">
    Total investment costs
  </a></span>
										</div>
									</div>
									<div class="chart__plot collapse show" style="overflow: scroll;" id="container_total_capex">
									</div>
								</div>
								{% include "report/graph_template.html" with id="capex" title="Total investment costs" %}
								{% endif %}

								<div style="display:flex;justify-content:center">
									<button disabled id="download_report_btn" class="btn btn--medium" onclick="javascript:downloadReport({{ proj_id }})" style="margin-top:0.5rem">
										Download report
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock progression_content %}


{% block end_body_scripts %}



{{ report_items_data|json_script:"existingReportItemsData" }}

<script src="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/3.1.0/jquery.serializejson.min.js"
		integrity="sha512-4y8bsEzrXJqRyl2dqjdKk/DetH59JcFTtYNMsy5DUpvVV8CXiSrQ1gSCL3+dFgj1Xco0ONPizsYd6wX2eAXL2g=="
		crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script>
	const urlNotImplemented = `{% url 'not_implemented' %}?url={{ request.get_full_path }}`;
    const urlCopyReportItem = "#";
    const urlDeleteReportItem = `{% url 'report_delete_item' proj_id %}`;
    const urlSaveToSession = `{% url 'save_to_session' %}`;

	var createReportItemModalDOM = document.getElementById("createReportItemModal");
	var createReportItemModal = new bootstrap.Modal(createReportItemModalDOM);
	var createReportItemForm = createReportItemModalDOM.querySelector("form");
	var reportItemTitleDOM = createReportItemForm.querySelector('input[id="id_title"]');
	var reportItemTitle = ''
	var reportItemScenariosDOM = createReportItemForm.querySelector('input[id="id_scenarios"]');
	var reportItemScenarios = [];

	const urlUpdatedSingleScenario = `{% url 'update_selected_single_scenario' proj_id %}` + {{ scen_id }};
	const urlKpiResults = `{% url 'cpn_kpi_results' proj_id=proj_id %}`;
	const urlVisualizeTimeseries = `{% url 'scenario_visualize_timeseries' proj_id=proj_id %}` + {{ scen_id }};
	const urlVisualizeStackedTimeseries = `{% url 'scenario_visualize_cpn_stacked_timeseries' %}` + {{ scen_id }};
	const urlVisualizeCapacities = `{% url 'scenario_visualize_capacities' proj_id=proj_id %}` + {{ scen_id }};
	const urlVisualizeCosts = `{% url 'scenario_visualize_costs' proj_id=proj_id %}` + {{ scen_id }};
	const urlVisualizeCashFlow = `{% url 'scenario_visualize_cash_flow' %}` + {{ scen_id }};
	const urlVisualizeRevenue = `{% url 'scenario_visualize_revenue' %}` + {{ scen_id }};
	const urlVisualizeCapex = `{% url 'scenario_visualize_capex' %}` + {{ scen_id }};
	const urlVisualizeSystemCosts = `{% url 'scenario_visualize_system_costs' %}` + {{ scen_id }};
	const urlRequestProjectSummary = `{% url 'request_project_summary_table' %}` + {{ scen_id }};
	const urlRequestCommunitySummary = `{% url 'request_community_summary_table' %}` + {{ scen_id }};
	const urlRequestSystemSize = `{% url 'request_system_size_table' %}` + {{ scen_id }};
	const urlRequestFinancialKpis = `{% url 'request_financial_kpi_table' %}` + {{ scen_id }};
	const urlDownloadReport = `{% url 'ajax_download_report' %}`;

	const srcInfoIcon = `{% static 'assets/icons/i_info.svg' %}`

</script>
<script src="{% static 'js/report_items.js' %}"></script>
<script src="{% static 'js/modal_utils.js' %}"></script>

{% if multiple_scenario_selection %}
<script> const multipleScenarioSelection = true;  </script>
{% else %}
<script>const multipleScenarioSelection = false;</script>
{% endif %}


{% block results_end_body_scripts %}

{% if scen_id > 0 %}
<script>
	const csrfToken = '{{ csrf_token }}';
    const formGetUrl = `{% url 'view_asset_parameters' scen_id %}`;
    const formPostUrl = "";
    const scenarioBelongsToUser = {% if scenario.project.user == request.user %}true{% else %}false{% endif %};
</script>
<script src="{% static 'js/report_items.js' %}"></script>
<script src="{% static 'js/update_results_page.js' %}"></script>
{% endif %}
{% endblock results_end_body_scripts %}

{% endblock end_body_scripts %}
