{% extends 'cp_nigeria/steps/step_progression.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load i18n %}


<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block progression_content %}



<main>

    <section class="scenario-create">
		<div>Here we can see and select different simulation constraints, such as minimum renewable share, cap on maximum emissions
            <p>This section can also include economic parameters like max. investment, WTP, maintenance options?? </p>
        </div>

    </section>


</main>



{% endblock progression_content %}


{% block end_body_scripts %}
{% endblock end_body_scripts %}