{% extends 'cp_nigeria/steps/step_progression.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block start_body_scripts %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
	const postUrl = `{% url 'ajax_usergroup_form' %}`;
	const csrfToken = `{{ csrf_token }}`;
    const dropdownUrl = `{% url 'ajax_load_facilities' %}`;

    // delete item on delete button click
    const urlDeleteUserGroup = `{% url 'delete_usergroup' scen_id %}`;
    const deleteUserGroup = (event) => {
        //submit the form to delete a report item
        const userGroupId = event.target.closest('tr').id
        if(confirm("Are you sure? This action cannot be undone")){
            $.ajax({
                headers: {'X-CSRFToken': `{{ csrf_token }}` },
                type: "POST",
                url: urlDeleteUserGroup,
                data: {user_group_id: userGroupId},
                success: function (jsonRes) {
                    document.getElementById(userGroupId).remove();
                },
                error: function (err) {
                    console.log(err);
                },
            })
        }
    };
</script>
<script src="{% static 'js/user_groups.js' %}"></script>
<script src="{% static 'js/dependent_dropdown.js' %}"></script>

{% endblock start_body_scripts %}
<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->

{% block progression_content %}
<main>
    <div class="grid-container">
        <button class="btn btn--medium" type="button">{% translate "Upload load profile" %}</button>
        <button class="btn btn--medium btn--short" type="button" onclick="javascript:adduserGroupDivToDOM();">Add Consumer Group</button>
    </div>

    <table class="table" id="ug_container">
        <thead>
        <th></th>
        <th>Consumer type</th>
        <th>Facility type</th>
        <th>Demand tier</th>
        <th>Nr. of consumers</th>
        </thead>
        <tr id="user-group1" class="user--group" style="height: fit-content">
            <th></th>
            <form method="POST" id="UserGroupForm" action="{% url 'create_usergroup' scen_id %}">
                {% csrf_token %}
                {% for field in form %}
                <td>
                    {{ field | as_crispy_field }}
                </td>
                {% endfor %}
            </form>
        </tr>

    </table>
    <div class="chart">
         <div class="chart__header" id="key-params">
            <p>Avg. daily demand:</p>
            <p>Peak demand:</p>
        </div>

    <div id="demand-aggregate">
    </div>
    </div>
    <center>
        <button class="btn btn--medium" type="button">{% translate "Export load profile" %}</button>

    </center>

</main>

{% endblock progression_content %}

{% block end_body_scripts %}
<script>
$(document).ready(function () {
    var data = [{
    x: [1,2,3,4],
    y: [1.5,1.5,1.5,1.5],
    mode: "lines",
    type: "scatter"
    }];

    var layout = {
    //xaxis: {range: [0, 8760], title: "Time"},
    //yaxis: {range: [0, 6000], title: "kWh"},
    title: "Total demand"
    };

    var plot_div = document.getElementById('demand-aggregate');
    Plotly.newPlot(plot_div, data, layout);
});



</script>
{% endblock end_body_scripts %}








