{% extends 'cp_nigeria/steps/step_progression.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block progression_content %}
<main>
    <section class="scenario-create">

       <div>
				 Here we can select which typical load profile we want to have and how many people it concerns
				 <p>We could also have a mix of different load profiles associated with a number of people and we compile the aggregation
				 	profile_1 *n_users1 + profile_2*n_users2 + ...
					 <ul>
		   <b>In:</b>
		   <li>Number of households</li>
		   <li>Additional commercial loads</li>
		   <li>Standardized load profiles</li>
		   <li>...</li>
		   </ul>
		   <ul>
		   <b>Out:</b>
		   <li>Custom demand load</li>
	   </ul>

				 </p>
			 </div>


    </section>
</main>

{% endblock progression_content %}

{% block end_body_scripts %}
{% endblock end_body_scripts %}








