{% extends 'cp_nigeria/steps/step_progression.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load i18n %}


{% block head_block %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.css">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!--<script src="{% static 'js/plotly.min.js' %}"></script>-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/quick_fix.css' %}"/>
{% endblock head_block %}

{% block start_body_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.21/jquery.csv.min.js" integrity="sha512-Y8iWYJDo6HiTo5xtml1g4QqHtl/PO1w+dmUpQfQSOTqKNsMhExfyPN2ncNAe9JuJUSKzwK/b6oaNPop4MXzkwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.1.1/d3.min.js" integrity="sha512-COTaPOlz12cG4fSfcBsxZsjauBAyldqp+8FQUM/dZHm+ts/jR4AFoJhCqxy8K10Jrf3pojfsbq7fAPTb1XaVkg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/traceplot.js' %}"></script>

<!--
<link rel="stylesheet" type="text/css" href="{% static 'css/beautiful1.css' %}"/>


<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
-->
{% endblock start_body_scripts %}


<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block progression_content %}


<main>
	<script>
    function displayForm(form_id) {
          const elem = document.getElementById(form_id);
          if (elem.style.visibility == 'hidden') {
          	elem.style.visibility = 'visible';
          } else {
          	elem.style.visibility = 'hidden';
          }
    }
    </script>
	<section>
		<form method="POST" action="{% url 'cpn_scenario' proj_id scen_id %}">
			{% csrf_token %}
			<center>
				<!-- TODO move to next step-->
				<button class="btn btn--medium" type="submit" value="test">{% translate "Create Scenario" %}</button>
			</center>
    <div class="grid-container" >
<fieldset style="display: contents;">
          <div>
						<input class="form-check-input" type="checkbox" id="diesel_checkbox" name="es_choice" value="diesel_generator" onclick="displayForm('diesel_params');" {% if 'diesel_generator' in es_assets %} checked {% endif %}>
						<label class="form-check-label" for="diesel_checkbox">Diesel generator</label>
						<img class="img" src="{% static 'assets/gui/diesel_generator.svg' %}" alt="diesel_generator">
					</div>

					<div>
						<input class="form-check-input" type="checkbox" id="pv_checkbox" name="es_choice" value="pv_plant" onclick="displayForm('pv_params');" {% if 'pv_plant' in es_assets %} checked {% endif %}>
						<label class="form-check-label" for="pv_checkbox">PV-Plant</label>
						<img class="img" src="{% static 'assets/gui/pv_plant.svg' %}" alt="pv_plant">
					</div>

					<div>
						<input class="form-check-input" type="checkbox" id="storage_checkbox" name="es_choice" value="bess" onclick="displayForm('storage_params');" {% if 'bess' in es_assets %} checked {% endif %}>
						<label class="form-check-label" for="storage_checkbox">Storage</label>
						<img class="img" src="{% static 'assets/gui/bess.svg' %}" alt="storage">
					</div>
</fieldset>
    </div>
    <div class="grid-container">
        <div class="form-stretch" id="diesel_params" {% if 'diesel_generator' in es_assets %} {% else %} style="visibility:hidden" {% endif %}>
                {{ form_diesel_generator|crispy }}
        </div>
				<div class="form-stretch" id="pv_params" {% if 'pv_plant' in es_assets %} {% else %} style="visibility:hidden" {% endif %}>
								{{ form_pv_plant|crispy }}
				</div>
				<div class="form-stretch" id="storage_params" {% if 'bess' in es_assets %} {% else %} style="visibility:hidden" {% endif %}>
								{{ form_bess|crispy }}
				</div>
    </div>
		</form>

	</section>
</main>

{% endblock progression_content %}


{% block end_body_scripts %}
{% endblock end_body_scripts %}







