.dummy_column {
  float: left;
  width: 30%;
  padding-left: 2rem;
  padding-right: 1rem;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: "none";
}

.grid-container {
    display: flex;
    justify-content: space-around;
    column-gap: 2rem;
    row-gap: 0.5rem;
    max-width: 100%;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.btn--short{
    max-width: max-content;
    justify-self: center;
}
img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}