{% extends 'cp_nigeria/steps/step_progression.html' %}
{% load i18n %}



{% block progression_content %}

 <main class="simulation simulation--ns">
      <div>
        <div class="simulation__heading" aria-hidden="true">
        </div>
        <div class="simulation__content">
          <h2>{% translate "No simulation conducted" %}</h2>
          <div class="simulation__feedback">
            <div class="item item--successful">
              <p>{% translate "Your energy system is complete" %}.</p>
            </div>
            <div class="item item--successful">
              <p>{% translate "Typically 1 year simulation will last a few minutes" %}.</p>
            </div>
          </div>
        </div>
      </div>
    </main>


{% endblock progression_content %}

{% block step_footer %}
<footer class="step-footer">
	<div>
		<div class="step-footer__left"></div>
		<div class="step-footer__center">
			<a class="btn btn--medium btn--hollow btn--previous" href="{% url 'cpn_steps' proj_id step_id|add:'-1' %}" aria-disabled="true">{% translate "Previous" %}</a>
			<a class="btn btn--medium" href="{% url 'cpn_simulation_request' proj_id %}" > {% translate "Run simulation" %}</a>
		</div>
		<div class="step-footer__right"></div>
	</div>
</footer>
{% endblock step_footer %}
