{% extends 'cp_nigeria/steps/step_progression.html' %}
{% load static %}
{% load i18n %}


{% block progression_content %}

    <main class="simulation simulation--pending">
      <div>
        <div class="simulation__heading">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">{% translate "Simulating..." %}</span>
          </div>
        </div>
        <div class="simulation__content">
          <h2>{% translate "Simulation pending" %}</h2>
          <div class="simulation__id">
            <a href="{{ MVS_GET_URL }}{{ mvs_token }}">{{ mvs_token }}</a>
          </div>
          <div class="simulation__feedback">
            <div class="item item--successful">
              <p>{% translate "The simulation status is checked every 3 seconds" %}</p>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock progression_content %}

{% block step_footer %}
<footer class="step-footer">
	<div>
		<div class="step-footer__left"></div>
		<div class="step-footer__center">
			<a class="btn btn--medium btn--hollow btn--previous" href="{% url 'cpn_steps' proj_id step_id|add:'-1' %}" aria-disabled="true">{% translate "Previous" %}</a>
			<a class="btn btn--medium btn--hollow" href="{% url 'cpn_simulation_cancel' proj_id %}" onclick="return confirm('Are you sure?')">{% translate "Cancel simulation" %}</a>
		</div>
		<div class="step-footer__right"></div>
	</div>
</footer>
{% endblock step_footer %}

{% block end_body_scripts %}
{% if simulation_status == "PENDING" %}
<script>
    const checkSimulationUrl = `{% url 'fetch_simulation_results' sim_id %}`;
</script>
<script src="{% static 'js/simulation_requests.js' %}"></script>
{% endif %}

{% endblock end_body_scripts %}
