{% extends 'cp_nigeria/steps/step_progression.html' %}}
{% load i18n %}

{% block progression_content %}

    <main class="simulation simulation--successful">
      <div>
        <div class="simulation__heading" aria-hidden="true">
        </div>
        <div class="simulation__content">
          <h2>{% translate "Simulation successful" %}</h2>
          <div class="simulation__id">
            <a href="{{ MVS_GET_URL }}{{ mvs_token }}">{{ mvs_token }}</a>
						<p>It took {{ secondsElapsed }} seconds using mvs version: {{ mvs_version }} </p>
          </div>
					<div class="simulation__id">
						</br>
						<a class="btn btn--medium btn--hollow" href="{% url 'cpn_simulation_cancel' proj_id %}" onclick="return confirm('Are you sure?')">{% translate "Reset simulation" %}</a>
					</div>
          <div class="simulation__feedback">
            <div class="item item--successful">
              <!--p></p-->

            </div>
            <div class="item item--warning">
            </div>
          </div>

        </div>
      </div>
    </main>

{% endblock progression_content %}
