{% extends 'cp_nigeria/base_cpn.html' %}
{% load i18n %}


{% block title %} {% translate "About - CP Nigeria" %} {% endblock title%}

<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block content %}
<main>
	<section class="header">
		<div>
			<div class="header__left"></div>
			<h1 class="header__title">{% translate "About" %}</h1>
			<div class="header__back"></div>
		</div>
	</section>
	<section class="standard-layout">
		<div>
			<div class="standard-layout__paragraph">
				<h2>{% translate "open_plan project consortium" %}</h2>
				{% blocktranslate with url_rli="https://reiner-lemoine-institut.de/" url_dgs="https://www.dgs-berlin.de" url_pik="https://www.pik-potsdam.de/de" %}
				<p>The open_plan project consortium is composed of the <a href="{{url_rli}}" target="_blank" rel="noreferrer">Reiner Lemoine Institut</a> (RLI), <a href="{{url_dgs}}" target="_blank" rel="noreferrer">Deutsche Gesellschaft für Sonnenenergie</a> (DGS) and the <a href="{{url_pik}}" target="_blank" rel="noreferrer">Potsdam Institut für Klimafolgenforschung</a> (PIK). It is funded within the framework of the "Technology-oriented systems analysis" funding area of the BMWi's 7th Energy Research Programme "Innovation for the energy transition".</p>
				{% endblocktranslate %}
			</div>
			<div class="standard-layout__paragraph">
				<h2>{% translate "open_plan project website" %}</h2>
				{% blocktranslate with url_op="https://open-plan-tool.org/" %}<p>You can visit the open_plan <a href="{{url_op}}" target="_blank" rel="noreferrer">website</a> to know more about the cellular approach and the open_plan project </p>{% endblocktranslate %}
			</div>
			<div class="standard-layout__paragraph standard-layout__paragraph--foreground">
				<h2>{% translate "Feedback or question?" %}</h2>
				{% url 'user_feedback' as url_feedback %}
				{% blocktranslate with url_github="https://github.com/orgs/open-plan-tool/projects/5" %}
				<p>You can always <a href="{{url_feedback}}">leave us a comment or feedback</a> on things you would improve. You can also visit <a href="{{url_github}}" target="_blank" rel="noreferrer">our github project page</a> to see which bugs are being fixed and which new features are being developed.</p>
				{% endblocktranslate %}
			</div>
			<div class="standard-layout__paragraph standard-layout__paragraph--small">
				<h2>Github</h2>
				{% blocktranslate with url_github="https://github.com/open-plan-tool/gui" url_gui="https://github.com/open-plan-tool/gui" url_simulation_server="https://github.com/open-plan-tool/simulation-server"%}
				<p>You can follow the development of this <a href="{{url_github}}" target="_blank" rel="noreferrer">user interface</a>, or deploy your own open-plan tool (including <a href="{{url_simulation_server}}" target="_blank" rel="noreferrer">simulation server</a> and user interface) by visiting our <a href="{{url_gui}}" target="_blank" rel="noreferrer">github page</a></p>
				{% endblocktranslate %}
			</div>
			<div class="standard-layout__paragraph standard-layout__paragraph--small">
				<h2>{% translate "Simulation server" %}</h2>
				<p>
					{% blocktranslate with url_simulation_server="https://github.com/open-plan-tool/simulation-server" url_mvs="https://github.com/rl-institut/multi-vector-simulator" url_oemof="https://github.com/oemof/oemof-solph" %}
					Our simulations run on a server hosted at RLI, the code to setup the simulation server is licenced under MIT License and publicly available on <a href="{{url_simulation_server}}" target="_blank" rel="noreferrer">our github page</a>.
					The simulation are perfomed with <a href="{{url_mvs}}" target="_blank" rel="noreferrer">multi-vector-simulator</a>, a code using <a href="{{url_oemof}}" target="_blank" rel="noreferrer">oemof-solph</a> to simulate energy system model from techno-economic parameters.
					{% endblocktranslate %}
				</p>
			</div>
			<div class="standard-layout__paragraph standard-layout__paragraph--small">
				<h2>{% translate "This webapp design" %}</h2>
				<p>{% translate "Bryan Lancien from " %} <a href="https://bryanlancien-ui.com/about.html" target="_blank" rel="noreferrer">bryanlancien-ui</a></p>
			</div>
		</div>
	</section>
</main>
{% endblock content %}
