{% extends 'scenario/scenario_progression.html' %}
{% load i18n %}

{% block progression_content %}

 <main class="simulation simulation--error">
      <div>
        <div class="simulation__heading" aria-hidden="true">
        </div>
        <div class="simulation__content">
          <h2>{% translate "Simulation existing, but scenario parameter changed" %}</h2>
          <div class="simulation__feedback">
            <div class="simulation__alert simulation__alert--info">
              <!--span>To add information</span-->
							<a class="btn btn--medium" href="{% url 'scenario_visualize_results' scen_id %}">{% translate "Existing simulation's results" %}</a>

            </div>

            <div class="simulation__alert simulation__alert--warning">
              <span>{% translate "If you rerun the simulation the previous results will be lost." %}</span>
            </div>
          </div>
          <div class="simulation__changed">
            <p>{% translate "Changed parameters" %}</p>
            <div class="table-changed">
              <div class="table-changed__item">
                <div class="table-changed__header">
                  {% translate "Project" %}
                </div>
								{% for scen_param in project_parameters %}
								 <div class="table-changed__content">
                  <div class="key">{% translate scen_param.name %}</div>
                  <div class="value">{{ scen_param.old_value }} --> {{ scen_param.new_value }}</div>
                </div>
								{% endfor %}
              </div>
              <div class="table-changed__item">
                <div class="table-changed__header">
                  {% translate "Scenario" %}
                </div>
								{% for scen_param in scenario_parameters %}
								 <div class="table-changed__content">
                  <div class="key">{% translate scen_param.name %}</div>
                  <div class="value">{{ scen_param.old_value }} --> {{ scen_param.new_value }}</div>
                </div>
								{% endfor %}
              </div>
              <div class="table-changed__item">
                <div class="table-changed__header">
                  {% translate "Asset" %}
                </div>
								{% for scen_param in asset_parameters %}
								 <div class="table-changed__content">
                  <div class="key">{{scen_param.asset.name}}({% translate scen_param.name %})</div>
                  <div class="value">{{ scen_param.old_value }} --> {{ scen_param.new_value }}</div>
                </div>
								{% endfor %}
              </div>
            </div>
          </div>
				</div>
			</div>
    </main>


{% endblock progression_content %}

{% block footer %}

    <footer class="simulation-footer">
			<div>
				<form method="post" action="{% url 'request_mvs_simulation' scen_id %}">
						 {% csrf_token %}
					<div class="simulation-footer__btn">
						<a class="btn btn--medium btn--transparent" href="{% url 'scenario_steps_edit' proj_id scen_id step_id|add:-1 %}" aria-disabled="true">{% translate "Previous" %}</a>

						<button class="btn btn--medium btn--warning" type="submit" > {% translate "Rerun simulation" %}</button>
						<div class="form-check simulation-footer__check">
						 <input class="form-check-input" type="checkbox" name="output_lp_file" id="output_lp_file">
							<label class="form-check-label" for="output_lp_file">
								{% translate "Include LP file (advanced users)" %}
							</label>
						</div>

					</div>
				</form>
			</div>


    </footer>
{% endblock footer %}